@config "../tailwind.config.js";
@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Popup zoom + fade animation */
@keyframes popup {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-popup {
  animation: popup 0.3s forwards;
}
